@inherits LayoutComponentBase

<PageTitle>NetNet Gateway</PageTitle>

<CascadingValue Value="this">
    <div class="layout-container">
        <Layout ShowFooter="true" SideWidth="220px" IsFullSide="true">
            <Header>
                @if (HeaderContent != null)
                {
                    <div class="header-container">
                        @HeaderContent
                    </div>
                }
            </Header>

            <Side>
                <NavMenu></NavMenu>
            </Side>
            <Main>
                <div style="padding: 1rem;">
                    @Body
                </div>
            </Main>
        </Layout>
    </div>
</CascadingValue>


@code
{
    RenderFragment? HeaderContent => _pageHeader?.ChildContent;
    PageHeader? _pageHeader;

    public void SetPageHeader(PageHeader? pageHeader)
    {
        _pageHeader = pageHeader;

        StateHasChanged();
    }
}
