<div class="nav-menu-container">
    <div class="logo">
        NETNET GATEWAY
    </div>

    <Menu Items="@IconSideMenuItems" IsVertical="true"></Menu>
</div>

@code
{
    private IEnumerable<MenuItem>? IconSideMenuItems;

    protected override void OnInitialized()
    {
        IconSideMenuItems = new List<MenuItem>()
        {
            new("仪表盘", "/", "fas fa-chart-line"),
            new("服务管理", "/ServiceClusters", "fas fa-diagram-project") { Match = NavLinkMatch.Prefix },
            new("路由管理", "/ServiceRoutes", "fas fa-route") { Match = NavLinkMatch.Prefix },
            new("网关设置", null, "fa-solid fa-gears")
            {
                Items = new List<MenuItem>()
                {
                    new("插件管理", "/Settings/Plugs", "fas fa-plug"),
                    new("用户", "/Setting/User"),
                    new("结点", "/Setting/Node"),
                }
            }
        };
    }
}
