.nav-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.nav-menu-container .logo{
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--bs-primary);
}
