.nav-menu-container {
    height: calc(100vh);
    position: fixed;
    top: 0;
    border-right: solid 1px rgba(0, 0, 0, .125);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    width: 220px;
}

.nav-menu-container .logo{
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--bs-primary);
}
