.gw-badge-container {
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    display: inline-block;
}

.gw-badge-container.xs {
    font-size: 10px;
}

.gw-badge-container.sm {
    font-size: 12px;
}

.gw-badge-container.md {
    font-size: 14px;
}

.gw-badge.bg-primary, .gw-badge.bg-success, .gw-badge.bg-info, .gw-badge.bg-danger {
    color: var(--bs-white);
}

.gw-badge-container .gw-badge-content {
    display: flex;
}

.gw-badge-content .gw-badge {
    padding: 2px 8px;
}
