.row-number {
    width: 30px;
    overflow: hidden;
    margin-left: .5rem;
    position: relative;
    font-weight: bold;
    color: var(--bs-gray-400);
}

.row-number.temporary:after {
    content: "*";
    margin-left: 2px;
    opacity: .6;
}
