@page "/ServiceRoutes"
@using NetNet.Gateway.Dtos.ServiceRoutes.Responses

<PageHeader>路由管理</PageHeader>

<Table TItem="QueryServiceRouteRes" OnQueryAsync="@OnQueryAsync" ShowSkeleton="true"
       IsPagination="true" PageItemsSource="new[] {10, 20}" IsStriped="true" IsBordered="true"
       ShowToolbar="true" ShowSearch="true" ShowAdvancedSearch="false" ShowRefresh="false"
       ShowAddButton="false" ShowEditButton="false" ShowDeleteButton="false"
       ShowExtendButtons="true" ShowDefaultButtons="false"
       ShowExtendEditButton="false" ShowExtendDeleteButton="false"
       @ref="RouteTable">
    <TableToolbarTemplate>
        <TableToolbarButton Color="Color.Primary" Text="添加路由" OnClick="() => RedirectToEdit(null)"></TableToolbarButton>
    </TableToolbarTemplate>
    <RowButtonTemplate>
        <TableCellButton Color="Color.Primary" Icon="fa-solid fa-pen" Text="编辑" OnClick="() => RedirectToEdit(context)"/>
        <TableCellButton Color="Color.Danger" Icon="fa-solid fa-remove" Text="删除" IsAsync="true" OnClick="() => DeleteAsync(context)"/>
    </RowButtonTemplate>
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="路由名称" Width="300"></TableColumn>
        <TableColumn @bind-Field="@context.ServiceClusterName" Text="服务名称" Width="300"></TableColumn>
        <TableColumn @bind-Field="@context.Path" Text="匹配路径"></TableColumn>
    </TableColumns>
</Table>
