@page "/"

<div>
    <div class="row g-3">
        <div class="col-4">
            显示网关运行监控数据
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <CapsuleBadge Size="Size.Small" LeftText="Hello" RightText="World"/>
        </div>

        <div class="col-4">
            <NetNetListInput @bind-Items="@_strings"></NetNetListInput>
        </div>
    </div>
</div>

@code{

    private Dictionary<string, string> _dic = new()
    {
        { "k1", "v1" },
        { "k2", "v2" },
        { "k3", "v3" },
    };

    private IEnumerable<string> _strings = new List<string>()
    {
        "1", "2", "3"
    };

}
