@page "/"
@attribute [Authorize]
@inject IHttpContextAccessor HttpContextAccessor

<div class="container-fluid">
    <div class="row justify-content-between m-0">
        <div class="gw-section-header mb-3 col">服务节点</div>
    </div>
    <div class="row g-3 mb-3">
        @foreach (var node in Nodes)
        {
            <div class="col-3">
                <NetNetServerNodeCard ServerNode="node"/>
            </div>
        }
    </div>

    <div class="row justify-content-between m-0">
        <div class="gw-section-header mb-3 col">监控图表</div>
    </div>
    <div class="row">
        <div class="col-4">
            <CapsuleBadge Size="Size.Small" LeftText="Hello" RightText="World"/>
        </div>

        <div class="col-4">
            <NetNetListInput @bind-Items="@_strings"></NetNetListInput>
        </div>
        <div class="col-4">
            IsAuthenticated: @HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated
        </div>
    </div>

</div>
