@page "/"

<div>
    <div class="row g-3">
        <div class="col-4">
            显示网关运行监控数据
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <CapsuleBadge Size="Size.Small" LeftText="Hello" RightText="World"/>
        </div>

        <div class="col-4">
            <NetNetListInput @bind-Items="@_strings"></NetNetListInput>
        </div>
        <div class="col-4">
            @foreach (var node in Nodes)
            {
                <div>@node.NodeId <Badge>@node.NodeType.ToString()</Badge></div>
            }
        </div>
    </div>
</div>
