html, body {
    height: 100%;
    width: 100%;
}

:root {
    --bs-primary: #512bd4;
    --bs-primary-rgb: 81,43,212;
    --bs-info: #0dcaf0;
    --bs-info-rgb: 13, 202, 240;
    --bs-link-color: #7838ca;
    --bs-link-hover-color: #58229c;
    --bs-white: #ffffff;
}

.btn-primary {
    --bs-btn-hover-bg: #4624bb;
}


@media (min-width: 768px) {
    .sidebar {
        background-color: #fff !important;
    }
}

.content code.highlight,
.alert-content code,
.content p code, .content li code {
    background-color: #fff5f8 !important;
}

.layout.is-page .layout-side {
    color: #3f4254;
    background-color: #fff;
    box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);
}

.layout.is-page .layout-user .layout-title {
    color: #3f4254;
}

.layout.is-page .layout-footer {
    background-color: #f8f9fa;
}

.layout-gotop {
    background: #e9ecef;
    color: #3f4254;
}

.layout-gotop:hover {
    background-color: #dee2e6;
}

.tabs-body {
    background-color: #fff;
}

.page-layout-demo-footer-link {
    color: #3f4254;
}

.menu .nav .dropdown-menu .nav-link:not(.disabled):hover, .menu .nav .dropdown-menu .nav-link.active, .menu .submenu .nav-link.active, .menu .submenu .nav-link:not(.disabled):hover, .cascade .dropdown-item:not(.disabled):hover, .cascade .dropdown-item.active, .cascade .nav .nav-link:not(.disabled):hover, .cascade .nav .nav-link.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.left-unset {
    left: unset;
}

.right-unset {
    right: unset;
}

/*gw 自定义的类*/
.gw-section-header {
    position: relative;
    padding: 0 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: default;
}

.gw-section-header:before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--bs-primary);
    left: 0;
    top: 4px;
    bottom: 4px;
}

.connection-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-black);
    opacity: .6;
}

.connection-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: var(--bs-white)
}
